body {
	 background-image: url("https://images.squarespace-cdn.com/content/v1/664c7ae50eea9c731b37e817/e781f4c6-01d6-47b0-bd76-563ad4c0818c/DSC06616.jpg");
            font-family: "Inter", sans-serif;
}
